<a href="https://colab.research.google.com/github/sofiabulhoes/grupo10/blob/main/df1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install gcsfs

In [3]:
import os

**Importando a chave do Google Cloud**

In [25]:
service_account_key = r"/content/chaveprogrupo10-332518-4db3212adcd1.json"

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = service_account_key

In [26]:
import pandas as pd
from google.cloud import storage

**Definindo o dataset em exel**

In [27]:
df1 = pd.read_excel('gs://bucket-projeto-g10/entrada/Base_ConsumoAN.xlsx')

**Vendo os dados nulos de cada coluna**

In [46]:
df1.isnull().sum()

Ano          0
Mes          0
MesRef       0
Pais         0
Bebida       0
Galoes       0
Etanol       0
Populacao    0
PerCapita    0
dtype: int64

**Criando um backup da dataframe**

In [29]:
dfback = df1.copy()

In [ ]:
pip install pandera

In [31]:
import pandera as pa

**Dando drop em colunas com grande quantidade de arquivos nulos**

In [32]:
df1.drop('PerCapita3yr', axis=1, inplace=True)
df1.drop('PctChange', axis=1, inplace=True)

**Dando drop em linhas nulas**

In [33]:
df1.dropna(axis=0, inplace = True)

**Renomenado as colunas com a tradução**

In [34]:
df1.rename(columns={'Year': 'Ano','Month': 'Mes', 'Beverage': 'Bebida', 'Gallons':'Galoes', 'Ethanol': 'Etanol' , 'Population': 'Populacao', 'FIPS': 'Pais'}, inplace=True)

In [36]:
df1

       Ano  Mes  MesRef  Pais  ...      Galoes   Etanol  Populacao  PerCapita
0     2017    1   12017     2  ...    103645.0    42598     593378     0.0718
1     2017    1   12017     8  ...    733857.0   301615    4634346     0.0651
2     2017    1   12017     9  ...    412100.0   169373    3015481     0.0562
3     2017    1   12017    10  ...    180388.0    74139     799550     0.0927
4     2017    1   12017    12  ...   2770686.0  1138752   17722275     0.0643
...    ...  ...     ...   ...  ...         ...      ...        ...        ...
2582  2021    2   22021    27  ...   8764953.0   394423    4629348     0.0852
2583  2021    2   22021    29  ...   8413292.0   378598    5077875     0.0746
2584  2021    2   22021    38  ...   1575937.0    70917     617880     0.1148
2585  2021    2   22021    47  ...   9774658.0   439860    5661532     0.0777
2586  2021    2   22021    48  ...  40234140.0  1810536   23257363     0.0778

[1950 rows x 9 columns]

**Alterando os dados da coluna 'Pais', alterando os numeros pelos nomes dos estados**

In [39]:
df1['Pais'].replace(2, 'Alaska', inplace=True)
df1['Pais'].replace(8, 'Colorado', inplace=True)
df1['Pais'].replace(9, 'Connecticut', inplace=True)
df1['Pais'].replace(10, 'Delaware', inplace=True)
df1['Pais'].replace(12, 'Florida', inplace=True)
df1['Pais'].replace(17, 'Illinois', inplace=True)
df1['Pais'].replace(21, 'Kentucky', inplace=True)
df1['Pais'].replace(25, 'Massachusetts', inplace=True)
df1['Pais'].replace(27, 'Minnesota', inplace=True)
df1['Pais'].replace(29, 'Missouri', inplace=True)
df1['Pais'].replace(38, 'Dakota do Norte', inplace=True)
df1['Pais'].replace(47, 'Tennessee', inplace=True)
df1['Pais'].replace(48, 'Texas', inplace=True)

In [41]:
#Verificando se todos os dados da coluna 'Pais' foram alterados
df1['Pais'].unique()

array(['Alaska', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
       'Illinois', 'Kentucky', 'Massachusetts', 'Minnesota', 'Missouri',
       'Dakota do Norte', 'Tennessee', 'Texas'], dtype=object)

**Alterando os dados da coluna 'Bebidas', alterando os numeros pelos nomes das bebidas**

In [42]:
df1['Bebida'].replace(1, 'Destilado', inplace=True)
df1['Bebida'].replace(2, 'Vinho', inplace=True)
df1['Bebida'].replace(3, 'Cerveja', inplace=True)
df1['Bebida'].replace(4, 'Todos', inplace=True)

In [44]:
#Verificando se todos os dados da coluna 'Bebida' foram alterados
df1['Bebida'].unique()

array(['Destilado', 'Vinho', 'Cerveja'], dtype=object)

In [45]:
df1.to_csv('/content/drive/MyDrive/EngDADOS/Projeto/df1_pandas.csv', index=False)